
.results-span{
    position: relative;
    display: block;
    margin-top: 10px;
    border: 1px;
    margin-left: 20px;
   
    background-color: #ffff;
    min-width: 80vh;
    max-height: 20vh;
    border-radius: 15px 15px 15px;
    border: 1px solid #132c54;
    padding-top: 3vh;
    padding-bottom: 2vh;

}
.results-paragraph {
    
    margin-left: 50%;
    color : black;
    text-align: left;
    font-size: 20px;
    white-space: nowrap;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    
}